/*FONT FAMILY FOR HEADING*/
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
/*FONT FAMILY FOR PARAGRAPH*/
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap");
body h1, body h2, body h3, body h4, body h5, body h6, body label {
  font-family: "Lobster Two", cursive; }

body p, body a, body .btn {
  font-family: "Yanone Kaffeesatz", sans-serif; }

.form-control::placeholder {
  font-family: "Yanone Kaffeesatz", sans-serif; }

/*MENU SECTION*/
.navbar {
  opacity: 0.7;
  border-top: 3px solid #81D5FB;
  border-bottom: 3px solid #81D5FB; }

.brandname {
  color: #81D5FB;
  font-family: "Lobster Two", cursive; }

#menubar .nav-link {
  font-family: "Lobster Two", cursive;
  color: #81D5FB;
  font-size: 19px;
  margin-right: 10px; }

#menubar .nav-link:last-child {
  margin-right: none; }

#menubar ul li a:hover {
  color: #FDD559;
  font-weight: bold; }

/*HOME SECTION*/
#home-section {
  background: url("../img/bg.jpg") no-repeat center top;
  background-size: cover;
  background-attachment: fixed; }
  #home-section .dark-overlay {
    background: rgba(0, 0, 0, 0.7); }
  #home-section .heading {
    color: #81D5FB; }
  #home-section .pgraph {
    color: #FF84A7; }
  #home-section .container {
    padding-top: 135px;
    padding-bottom: 135px; }
  #home-section .card {
    background: #FF84A7; }
  #home-section .fa {
    color: #FDD559;
    background: #81D5FB;
    border-radius: 3px;
    font-size: 25px; }
  #home-section .signup {
    font-family: "Lobster Two", cursive;
    color: #FDD559; }
  #home-section .register {
    color: #FDD559; }
  #home-section .btn {
    color: #FDD559; }

/*ABOUT SECTION*/
#about-section {
  background: #81D5FB; }
  #about-section .heading {
    color: #FDD559; }
  #about-section .lead {
    color: #FF84A7; }
  #about-section .btn {
    color: #FDD559;
    font-size: 19px;
    font-weight: bold; }

/*ABOUT SECTION 2*/
#about-section2 .fa {
  background: #81D5FB;
  color: #FDD559;
  border-radius: 3px;
  font-size: 25px; }

#about-section2 .heading {
  color: #FDD559; }

#about-section2 .pgraph {
  color: #FF84A7; }

/*SERVICE SECTION*/
#service-section {
  background: #81D5FB; }
  #service-section .heading {
    color: #FDD559; }
  #service-section .lead {
    color: #FF84A7; }
  #service-section .btn {
    color: #FDD559;
    font-size: 19px;
    font-weight: bold; }

/*SERVICE SECTION 2*/
#service-section2 {
  background: #FF84A7; }
  #service-section2 .heading {
    color: #81D5FB; }
  #service-section2 .pgraph {
    color: #FDD559; }
  #service-section2 .fa {
    color: #FDD559;
    background: #81D5FB;
    border-radius: 3px;
    font-size: 25px; }
  #service-section2 .align-self-end {
    color: #81D5FB; }

/*CONTACT SECTION*/
#contact-section {
  background: #81D5FB; }
  #contact-section .heading {
    color: #FF84A7; }
  #contact-section .lead {
    color: #FDD559; }
  #contact-section .btn {
    color: #FF84A7;
    font-size: 19px;
    font-weight: bold; }

/*CONTACT SECTION 2*/
#contact-section2 .heading {
  color: #81D5FB; }

#contact-section2 .pgraph {
  color: #FF84A7; }

#contact-section2 .fa {
  color: #FDD559;
  background: #81D5FB;
  border-radius: 3px;
  font-size: 25px; }

#footer {
  background: #303840; }
  #footer .brandname {
    color: #81D5FB; }
  #footer .lead {
    font-family: "Lobster Two", cursive;
    color: #FDD559; }
  #footer .name {
    font-family: "Lobster Two", cursive;
    color: #FDD559; }
  #footer .btn {
    background: #81D5FB;
    color: #FF84A7;
    font-family: "Lobster Two", cursive;
    font-size: 19px;
    font-weight: bold; }

/*MODAL*/
#modalbox .modal-content {
  background: #FF84A7; }

#modalbox .close {
  color: #81D5FB; }

#modalbox .heading {
  color: #81D5FB; }

#modalbox .lead {
  color: #81D5FB; }

#modalbox .btn {
  color: #FDD559;
  background: #81D5FB;
  font-size: 19px; }

/*MEDIA QUERY*/
@media (max-width: 300px) {
  .navbar-toggler-icon {
    width: 1.25rem;
    height: 1.25rem; } }
